[submodule "luajit"]
	path = luajit
	url = https://source.makenika.pl/mako/luajit.git
[submodule "luajava"]
	path = luajava
	url = https://source.makenika.pl/mako/luajava.git
[submodule "typedlua"]
	path = typedlua
	url = https://source.makenika.pl/mako/typedlua.git
